@using DoChoiTreEmWeb.Models
@using PagedList.Mvc;
@model PagedList.PagedList<DoChoiTreEmWeb.Models.DANHMUC>

@helper Truncate(string s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length)<text>..</text>
    }
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">QUẢN LÝ DANH MỤC</h2>
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th style="text-align:center; width:140px;">
            Mã danh mục
        </th>
        <th style="text-align:center; width:200px;">
            Tên danh mục
        </th>
        
        <th ></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDM)
            </td>
            <td style="text-align:right">
                <a href="@Url.Action("Edit", new { id=item.MaDM })" class="btn btn-warning" role="button">Sửa</a>
                <a href="@Url.Action("Delete",new { id=item.MaDM})" class="btn btn-danger" role="button">Xóa</a>
            </td>
        </tr>
    }

</table>

Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }
</style>

