@model DoChoiTreEmWeb.Models.KHACHHANG
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h4 style="color:red; text-align:center;">@ViewBag.ThongBao</h4>
<table align="center">
    <h2 style="text-align:center">ĐĂNG NHẬP</h2>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        if (Request.Cookies["TenDN"] != null && Request.Cookies["MatKhau"] != null)
        {
            <tr>
                <td>Tên đăng nhập:</td>
                <td>
                    @Html.TextBox("TenDN", Request.Cookies["TenDN"].Value)
                    @ViewData["Err1"]
                </td>
            </tr>
            <tr>
                <td> Mật Khẩu:</td>
                <td>
                    @Html.Password("MatKhau", Request.Cookies["MatKhau"].Value)
                    @ViewBag.Err2
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>Tên đăng nhập:</td>
                <td>
                    @Html.TextBox("TenDN")
                    @ViewData["Err1"]
                </td>
            </tr>
            <tr>
                <td> Mật Khẩu:</td>
                <td>
                    @Html.Password("MatKhau")
                    @ViewBag.Err2
                </td>
            </tr>
        }

        <tr>
            <td></td>
            <td>
                @Html.CheckBox("remember")<span style="font-style:italic">Nhớ thông tin</span>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="submit" value="Đăng nhập" />
            </td>
        </tr>
    }
</table>

